:root {
    --discussionWrapperWidth: 540px;
    --discussionAvatarSize: 48px;
    --cyberpunkyDisplayBackground: rgb(232,199,108);
    --cyberpunkyDisplayText: rgb(171,121,57);
    --cyberpunkyTextShadowLighter: rgb(217, 162, 91);
    --cyberpunkyTextShadowDarker: rgb(195, 140, 68);
    --cyberpunkyShadow: 0 0 7px var(--cyberpunkyTextShadowLighter),
        0 0 10px var(--cyberpunkyTextShadowLighter),
        0 0 21px var(--cyberpunkyTextShadowLighter),
        0 0 42px var(--cyberpunkyTextShadowDarker),
        0 0 82px var(--cyberpunkyTextShadowDarker),
        0 0 92px var(--cyberpunkyTextShadowDarker),
        0 0 102px var(--cyberpunkyTextShadowDarker),
        0 0 151px var(--cyberpunkyTextShadowDarker);
}
@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('NeoDunggeunmoPro-Regular.woff');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'NeoDunggeunmoPro-Regular';
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--cyberpunkyDisplayBackground);
}

li {
    list-style-type: none;
}

.discussion__wrapper {
    width: var(--discussionWrapperWidth);
}

li.discussion__container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    width: calc(var(--discussionWrapperWidth) + 50px);
    padding: 25px 0;
    background-color: white;
}

.discussion__avatar--wrapper {
    display: flex;
    align-items: center;
}
.discussion__avatar--image {
    border-radius: 50%;
    width: var(--discussionAvatarSize);
    height: var(--discussionAvatarSize);
}

.discussion__content {
    margin-left: 10px;
    
    /* 콘텐츠 영역의 너비는 전체 너비에서 아바타 영역을 뺀 너비의 80% */
    width: calc((var(--discussionWrapperWidth) - var(--discussionAvatarSize)) * 0.8);

    /* height: 60px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.discussion__title {
    margin-bottom: 5px;
}
.discussion__information {
    display: flex;
    justify-content: flex-end;
}

.discussion__answered {
    /* 정답여부 영역의 너비는 전체 너비에서 아바타 영역을 뺀 너비의 20% */
    width: calc((var(--discussionWrapperWidth) - var(--discussionAvatarSize)) * 0.2);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
}

#cyberpunky-display {
    color: var(--cyberpunkyDisplayText);
    background-color: var(--cyberpunkyDisplayBackground);
    text-shadow: var(--cyberpunkyShadow);
    border: 1px;
}
#cyberpunky-display h1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
}
#cyberpunky-display #welcome-msg {
    margin: 50px 0;
}
.form__input > input {
    appearance: none;
    border: 0;
    background-color: var(--cyberpunkyDisplayBackground);
    color: var(--cyberpunkyDisplayText);
    text-shadow: var(--cyberpunkyShadow);
}
.form__input > input:focus {
    outline: none;
    color: var(--cyberpunkyDisplayText);
    text-shadow: var(--cyberpunkyShadow);
}
.form__textbox {
    display: flex;
    flex-direction: column;
}
.form__textbox > textarea {
    appearance: none;
    border: 0;
    background-color: var(--cyberpunkyDisplayBackground);
    color: var(--cyberpunkyDisplayText);
    text-shadow: var(--cyberpunkyShadow);
}
.form__textbox > textarea:focus {
    outline: none;
    color: var(--cyberpunkyDisplayText);
    text-shadow: var(--cyberpunkyShadow);
}
.form__submit {
    opacity: 0;
}

/* pagination button style */
.page-wrapper {
    display: flex;
    justify-content: space-between;
}
.page-wrapper button {
    width: 25px;
    height: 25px;
}
.page-wrapper span {
    color: var(--cyberpunkyDisplayText);
    text-shadow: var(--cyberpunkyShadow);
}