* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.discussion__wrapper {
    width: 540px;
}

li.discussion__container {
    display: flex;
}

.discussion__avatar--wrapper {
    display: flex;
    align-items: center;
}
.discussion__avatar--image {
    border-radius: 50%;
    width: 48px;
}

.discussion__content {
    margin-left: 10px;
    width: 500px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.discussion__title {
    margin-bottom: 5px;
}
.discussion__information {
    display: flex;
    justify-content: flex-end;
}